.cards {
    padding: 2rem;
  }

  /* .cards__items {
    margin-bottom: 24px;
  } */
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    background-color:lightsteelblue;
    border-radius: 20px;
    padding-top: 1%;
  }
    
  .cards__item__info {
    padding: 20px 30px 30px;
  }
  
  .cards__item__label{
    font-size: 28px;
    text-align: center;
    color: darkblue;
  }
  
  .cards__item__text {
    color: #252e48;
    font-size: 20px;
    line-height: 26px;
    margin: 6%;
    text-align: center;
  }
  
  /*@media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }*/
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }